{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/gal.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 700px)" href="{% static 'css/celu.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 450px)" href="{% static 'css/enano.css' %}">
<body>
  <main>
      <p id="gal" >→ Perritos</p>
    <h1 id="titulo" >PERRITOS EN ADOPCION</h1>
 	<div id="perritos">
         <div class="boxDog">
            <p class="parrafo">
            <img src="{% static 'img/boxdog1.jpg' %}" alt="perrito con miedo">
             El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
            </p>
         </div>

         <div class="boxDog">
                <p class="parrafo">
                <img src="{% static 'img/boxdog2.jpg' %}" alt="perrito de raza">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
                </p>
         </div>

        <div class="boxDog">
            <p class="parrafo">
                <img src="{% static 'img/boxdog3.jpg' %}" alt="terrier">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
            </p>
        </div>
        <div class="boxDog">
                <p class="parrafo">
                <img src="{% static 'img/boxdog4.jpg' %}" alt="perro chico">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
                </p>
             </div>

             <div class="boxDog">
                    <p class="parrafo">
                    <img src="{% static 'img/boxdog5.jpg' %}" alt="perrito con miedo">
                     El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
                    </p>
                 </div>

        <div class="boxDog">
            <p class="parrafo">
                <img src="{% static 'img/boxdog6.jpg' %}" alt="perrito con miedo">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
            </p>
        </div>

        <div class="boxDog">
                <p class="parrafo">
                <img src="{% static 'img/boxdog7.jpg' %}" alt="perrito con miedo">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
                </p>
             </div>
        
        <div class="boxDog">
            <p class="parrafo">
            <img src="{% static 'img/boxdog8.jpg' %}" alt="perrito con miedo">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
            </p>
         </div>

         <div class="boxDog">
             <p class="parrafo">
                <img src="{% static 'img/boxdog9.jpg' %}" alt="perrito con miedo">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
                </p>
             </div>
        <div class="boxDog">
            <p class="parrafo">
            <img src="{% static 'img/boxdog10.jpg'%}" alt="perrito con miedo">
                 El es un kiltro, se llama Camilo y es timido pero tambien muy amigable cuando se siente protegido, tiene 3 años de edad y es muy jugueton. Fue rescatado por nuestro equipo, el estaba en situacion de calle, tenia signos de maltrato y era agresivo con la gente. Hoy ya rehabilitado es totalmente distinto.
            </p>
         </div>
     </div>
  </main>
</body>
{% endblock %}