header{
    background-color: green;
    color: white;
    display: flex;
    width: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

h1 {
	color: white;
	text-align: center;
}
#titulo{
    color: black;
    text-align: center;
}

#gal{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

main{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.boxDog {
    padding: 5px;
   
    width: 50%;


}
.boxDog img {
    float: left;
    border: solid black;
  
    margin-left: 30px;
    margin-right: 15px;
}

.parrafo{
    margin: auto;
    float: left;
    border: solid silver;
    font-size: 16px; 

}



#perritos{
    border: solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 300px;
}

#head{
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}


footer{
    background-color: green;
    width: 100%;
    color: white;
    display: flex;
    padding: 10px
}

#contacto{
    width: 100%;
    float: none;
    margin: auto;
    
    background-color: green;
}

.cont{
    text-align: center;
}

.p{
    margin-left: 10px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #54A1F0;
}

